:root {
     --main-bg-color: hsl(0, 0%, 100%);
     --secodary-bg-color: hsl(243, 100%, 68%);
     --main-text-color: hsl(0, 0%, 9%);
     --secondary-text-color: hsl(0, 0%, 100%);
     --accent-text-color: hsl(243, 100%, 68%);
     --accent-bg-color: hsl(195, 40%, 98%);
}

body {
     font-family: 'Roboto', sans-serif;
}

* {
     box-sizing: border-box;
}

/* UTILITY CLASSES */

.title {
     text-transform: uppercase;
     letter-spacing: 0.4rem;
     align-self: center;
     padding-bottom: 4rem;
}

.text-lg {
     text-transform: uppercase;
     letter-spacing: 0.2rem;
     font-size: 2rem;
}

.image {
     width: 100%;
}

.img-container {
     width: 100%;
}

.title > span {
     color: var(--accent-text-color);
}

.section {
     /* padding-inline: max(10vw, 4rem);
     padding-block: max(5vw, 2rem); */
     padding: 4rem;

     font-size: 1.125rem;
}
.section h2 {
     font-size: 2.5rem;
}

.paragraph {
     letter-spacing: 0.07rem;
     line-height: 120%;
     font-size: 1.3rem;
}

.link-sm {
     color: var(--accent-text-color);
     text-transform: capitalize;
     text-decoration: none;
     font-size: 1.25rem;
     font-weight: 600;
     transition: 0.2s ease-in;
}

.link-sm:hover {
     transform: scale(1.1);
}

.button {
     cursor: pointer;
     text-transform: capitalize;
     transition: 0.2s ease-in;
}

.button:hover {
     filter: brightness(0.85);
}

.social-links {
     font-size: 2.5rem;
     display: flex;
     justify-content: center;
     gap: 1.5rem;
}

.social-links > * {
     transition: 0.2s ease-in;
}
.social-links > *:hover {
     transform: scale(1.1);
}

.links {
     display: flex;
     gap: 1.5rem;
     text-transform: capitalize;
     padding: 0;
}

.links > li {
     list-style: none;
     transition: 0.2s ease-in;
}

.links > li:hover {
     transform: scale(1.1);
}

.hidden {
     display: none;
}

/* // UTILITY CLASSES */

/* HEADER STYLES */
.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-inline: 4rem;
     font-size: 1.5rem;
     color: var(--main-text-color);
     background-color: var(--main-bg-color);
     height: 10vh;
}

.hero-bg-img {
     display: none;
}

.header > h2 > span {
     color: var(--accent-text-color);
}

.header > nav {
     font-size: 1.725rem;
     display: flex;
     gap: 1.25rem;
}

.header .links a {
     display: none;
     text-decoration: none;
     color: var(--main-text-color);
     font-weight: 600;
}

.fa-brands {
     color: var(--accent-text-color);
}

/* // HEADER STYLES */

/* HERO SECTION */

.hero {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     height: 90vh;

     color: var(--secondary-text-color);
     background-color: var(--secodary-bg-color);

     position: relative;
}

.hero p {
     text-align: center;
}

.hero .button {
     font-weight: 600;
     letter-spacing: 0.2rem;
     background-color: var(--main-bg-color);
     font-size: 1.25rem;
     padding-inline: 1rem;
     padding-block: 0.725rem;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero .button:hover {
     transform: scale(1.1);
}

/* // HERO SECTION */

/* ABOUT SECTION */
.about-us {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

/* // ABOUT SECTION */

/* OUR SERVICES */
.our-services {
     display: flex;
     flex-direction: column;
     background-color: var(--accent-bg-color);

     box-shadow: 0 0 0 100vmax var(--accent-bg-color);
     clip-path: inset(0 -100vmax);
}

.services {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
     text-align: center;
     gap: 4rem;
}
.service-icon {
     background-color: var(--accent-text-color);
     font-size: 2.5rem;
     width: 4rem;
     padding: 1rem;
}
/* //OUR SERVICES */

/* FEATURED TOURS */
.featured-tours {
     display: flex;
     flex-direction: column;
}
.card {
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     cursor: pointer;
}

.card-image {
     position: relative;
}

.card-image:after {
     content: attr(data-date);
     width: fit-content;
     height: fit-content;
     padding-inline: 1rem;
     padding-block: 0.7rem;
     color: var(--secondary-text-color);
     background-color: var(--secodary-bg-color);
     text-transform: capitalize;
     top: 2rem;
     left: 0;
     position: absolute;
}

.tour-cards {
     display: grid;
     gap: 4rem;
}

.card-info {
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     padding-inline: 2rem;
     font-size: 1.725rem;
     text-transform: capitalize;
}

.card-title {
     grid-column: 1 / 3;
}

.card-country {
     color: var(--accent-text-color);
}

.card-info :last-child {
     text-align: end;
}

.featured-tours .link-sm {
     align-self: center;
     margin-top: 4rem;
}

/* //FEATURED TOURS */

/* OUR GALLERY */

.our-gallery {
     display: flex;
     align-items: center;
     flex-direction: column;
     grid-template-columns: 1fr;
     background-color: var(--accent-bg-color);
     padding-inline: 0;
}

.our-gallery h2 {
     font-size: 2.5rem;
}

.gallery-images {
     display: grid;
     grid-template-columns: 1fr;
     gap: 0.5rem;
     background-color: var(--secodary-bg-color);
     position: relative;
}

/* // OUR GALLERY */

/* NEWSLETTER */

.newsletter {
     background-color: var(--secodary-bg-color);
     color: var(--secondary-text-color);
     display: flex;
}

.newsletter h2 {
     text-align: center;
     line-height: 200%;
     font-size: 2.5rem;
}

.email-input {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 80%;
}

.email-input .button {
     background-color: var(--accent-bg-color);
}

.email-input input,
.email-input button {
     display: inline-block;
     border-radius: none;
     border: none;
     padding: 1rem;
     color: var(--main-text-color);
}

.email-input input {
     width: 60%;
}

.email-input input::placeholder {
     color: var(--main-text-color);
     text-transform: uppercase;
}

/* //NEWSLETTER */

/* FOOTER */

.footer {
     background-color: var(--main-text-color);
     color: var(--secondary-text-color);
     padding-inline: 5rem;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 2rem;
     font-size: 1.5rem;
     text-transform: capitalize;
}

.footer .links > li > a {
     text-decoration: none;
     color: var(--secondary-text-color);
}

/* //FOOTER */

@media only screen and (min-width: 1000px) {
     /* temp */

     .hidden {
          display: block;
     }

     .header .links a {
          display: block;
     }

     .hero {
          --bg-image: url('https://images.unsplash.com/photo-1511715885542-a3713331633d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
          --bg-image-opacity: 0.3;
          position: relative;
          background: rgb(0, 0, 0);
          background: linear-gradient(
               0deg,
               rgba(0, 0, 0, 1) 0%,
               rgba(100, 92, 255, 1) 100%
          );
          gap: 4rem;
          isolation: isolate;
     }

     .hero:after {
          content: '';
          background-image: var(--bg-image);
          background-size: cover;
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          z-index: -1;
          opacity: var(--bg-image-opacity);
     }

     .hero .title {
          font-size: 5rem;
     }

     .about-us {
          margin: 0 auto;
          width: 80vw;
     }

     .our-services {
          margin: 0 auto;
          width: 80vw;
     }

     .about-us-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5rem;
     }

     .about-us-content article > h3 {
          margin: 0;
     }

     .about-us-content .img-container {
          position: relative;
          isolation: isolate;
     }

     .about-us-content .img-container::after {
          content: '';
          position: absolute;
          width: 95%;
          height: 95%;
          inset: 0;
          transform: translateX(-1rem) translateY(-1rem);
          z-index: -1;
          outline: 0.6rem solid var(--accent-text-color);
          border-radius: 5px;
     }

     .our-gallery {
          padding-bottom: 0;
     }

     .tour-cards {
          grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     }

     .gallery-images {
          grid-template-columns: repeat(4, 1fr);
          gap: 0;
     }

     /* .gallery-images > img {
          width: 25%;
     } */
}
