//  NEED TO FIX THIS

.hero {
     // display: flex;
     position: relative;
     article {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 80%;
          // justify-content: space-between;
     }
     .hero-graphic {
          position: absolute;
          top: -2rem;
          left: 12rem;
     }
}
