@use '../abstracts/variables';

html,
body {
     height: 100%;
     font-family: variables.$font;
     overflow-x: hidden;
}

.container {
     background-color: variables.$background-primary;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 4rem;
}

// sets the space between sections
.container > * {
     margin-inline: 5rem;

     &:first-child {
          margin-top: 2rem;
     }

     // &:last-child {
     //      margin-bottom: 2rem;
     // }
}
